# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.mvm

# Abaikan file log
*.log
*.txt
!requirements.txt

# Abaikan file biner Morph
*.mvm

# Rust Build Artifacts (RPC Safety)
target/
greenfield/morph_vm/target/
morph
morph
*.mvm
