name: Morph CI/CD

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run Python Tests (Bootstrap)
      run: |
        python -m pytest

    - name: Verify Morph Code (Syntax & Deps)
      run: |
        # Verifikasi Toolchain CLI
        python3 -m ivm.main greenfield/verifikasi.fox greenfield/morph.fox
        # Verifikasi Hello World
        python3 -m ivm.main greenfield/verifikasi.fox greenfield/examples/hello_world.fox

    - name: Build Hello World (Compile to .mvm)
      run: |
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/hello_world.fox

    - name: Test Execution of Hello World
      run: |
        python3 -m ivm.main greenfield/examples/hello_world.fox.mvm

    - name: Build & Test "Hello Dek" & Variables
      run: |
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/hello_dek.fox
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/hello_dek_var.fox
        python3 -m ivm.main greenfield/examples/hello_dek.fox.mvm
        python3 -m ivm.main greenfield/examples/hello_dek_var.fox.mvm

    - name: Build & Test Control Flow (If/Else)
      run: |
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/kucing.fox
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/kucing_guk.fox
        python3 -m ivm.main greenfield/examples/kucing.fox.mvm
        python3 -m ivm.main greenfield/examples/kucing_guk.fox.mvm

    - name: Build & Test Loops & Functions (While/Return)
      run: |
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/hitung_mundur.fox
        python3 -m ivm.main greenfield/morph.fox build greenfield/examples/cek_kembali.fox
        python3 -m ivm.main greenfield/examples/hitung_mundur.fox.mvm
        python3 -m ivm.main greenfield/examples/cek_kembali.fox.mvm

    - name: Upload Morph Binaries
      uses: actions/upload-artifact@v4
      with:
        name: morph-binaries
        path: |
          **/*.mvm
